language: node_js
node_js:
- '6'

sudo: false

os:
- linux
- osx

env:
  global:
    - CC=clang CXX=clang++ npm_config_clang=1

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+/

script: npm run test
