step-restore-cache: &step-restore-cache
  restore_cache:
    keys:
      - v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}

steps-test: &steps-test
  steps:
    - checkout
    - *step-restore-cache
    - run:
        name: Install Node
        command: |
          case "$(uname -s)" in
            Darwin)
              curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
              export NVM_DIR="$HOME/.nvm"
              [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
              nvm install 12
              nvm alias default 12
              echo 'export NVM_DIR=${HOME}/.nvm' >> $BASH_ENV
              echo "[ -s '${NVM_DIR}/nvm.sh' ] && . '${NVM_DIR}/nvm.sh'" >> $BASH_ENV
              ;;
            Windows*|CYGWIN*|MINGW*|MSYS*)
              nvm install 12.22.4
              nvm use 12.22.4
              ;;
          esac
    - run: yarn install --frozen-lockfile --ignore-engines
    - save_cache:
        paths:
          - node_modules
        key: v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
    - run: yarn run lint
    - run:
        name: Tests with code coverage
        command: yarn run coverage
        environment:
          DEBUG: electron-rebuild
    - run: yarn run codecov


version: 2.1
orbs:
  win: circleci/windows@1.0.0
jobs:
  test-linux-12:
    docker:
      - image: cimg/node:12.22
    <<: *steps-test
  test-linux-14:
    docker:
      - image: cimg/node:14.20
    <<: *steps-test
  test-linux-16:
    docker:
      - image: cimg/node:16.18
    <<: *steps-test
  test-mac:
    macos:
      xcode: "13.3.0"
    <<: *steps-test
  test-windows:
    executor:
      name: win/vs2019
      shell: bash.exe
    environment:
      GYP_MSVS_VERSION: '2019'
    <<: *steps-test

  release:
    docker:
      - image: cimg/node:14.17
    steps:
      - checkout
      - *step-restore-cache
      - run: yarn install --frozen-lockfile --ignore-engines
      - run: npx @continuous-auth/circleci-oidc-github-auth@1.0.4
      - run: npx semantic-release@17.4.5

workflows:
  version: 2
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - test-linux-16
      - test-linux-12
      - test-linux-14
      - test-mac
      - test-windows
      - release:
          requires:
            - test-linux-16
            - test-linux-12
            - test-linux-14
            - test-mac
            - test-windows
          filters:
            branches:
              only:
                - main
          context: cfa-release
