version: 2.1

orbs:
  cfa: continuousauth/npm@1.0.2
  node: electronjs/node@1.1.0

executors:
  windows:
    environment:
      GYP_MSVS_VERSION: '2022'
    machine:
      image: windows-server-2022-gui:stable
      resource_class: windows.medium
      shell: bash.exe

workflows:
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - node/test:
          name: test-<< matrix.executor >>-<< matrix.node-version >>
          override-ci-command: yarn install --frozen-lockfile --ignore-engines
          pre-steps:
            - run: git config --global core.autocrlf input
            - when:
                condition:
                  equal: [ windows, << matrix.executor >> ]
                steps:
                  - run:
                      name: Enable Long Paths
                      command: New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force
                      shell: powershell.exe
          test-steps:
            - run: yarn run lint
            - run:
                name: Tests with code coverage
                command: yarn run coverage
                environment:
                  DEBUG: electron-rebuild
            - run: yarn run codecov
          use-test-steps: true
          matrix:
            alias: test
            parameters:
              executor:
                - node/linux
                - node/macos
                - windows
              node-version:
                - 20.2.0
                - 18.16.0
                - 16.20.0
                - 14.21.3
                - 12.22.12
      - cfa/release:
          requires:
            - test
          filters:
            branches:
              only:
                - main
          context: cfa-release
