name: Test

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 22 * * 3'
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version:
          - '22.12.x'
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: "${{ matrix.os }}"
    env:
      GYP_MSVS_VERSION: '2022'
    steps:
      - run: git config --global core.autocrlf input
      - name: Enable Long Paths (Windows)
        if : ${{ matrix.os == 'windows-latest' }}
        run: |
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force
      - name: Setup distutils (Windows)
        if : ${{ matrix.os == 'windows-latest' }}
        run: pip3 install setuptools
      - name: Setup distutils (macOS)
        if : ${{ matrix.os == 'macos-latest' }}
        run: pip3 install --break-system-packages --user setuptools
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint
        run: yarn run lint
      - name: Test & Report Coverage
        env:
          DEBUG: electron-rebuild
        run: |
          yarn run coverage
          yarn run coverage:report
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./coverage.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
